<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Selenium tests suite">
    <test name="E-Mail testing">
        <parameter name="browser" value="google_chrome"/>
        <parameter name="url" value="https://mail.ru/"/>
        <classes>
            <class name="com.epam.tat.selenium.tests.MailTest"/>
        </classes>
    </test>
</suite>